.menu li {
    display: inline;
}
.menu a {
    text-decoration: none;
    color: rgba(255, 0, 0, 1);
    ;
}
.menu {
color:rgba(255, 0, 0, 1);
text-align: center;
font-family: 'Montserrat';
font-weight: 700;
font-size: 18px;
letter-spacing: 2.7px;
line-height: 18px;

}
li {
    margin-left: 2em;
    margin-right: 2em;
}
.img {
left: 0px;
top: 78px;
background-size: cover;
width: 1600px;
}
.h2 {
    text-align: center;
    font-family: 'Montserrat';
    letter-spacing: 3.3px;
font-weight: 700;
font-size: 22px;
line-height: 27px;
}
.p1 {
    text-align: center;
    font-family: 'Montserrat';
    color: rgba(55, 55, 55, 1);
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.4px;

}
.p2 {
    text-align: center;
   font-family: 'Montserrat';
   color:rgba(55, 55, 55, 1);
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   text-align: center;
   letter-spacing: 2.4px;

}
.button {
    display: inline-block;
    background: rgba(255, 0, 0, 1);
    color: aliceblue;
    border: none;
    padding: 12px;
   margin: auto;
   display: block;
   font-family: 'Montserrat';
   font-weight: 700;
   letter-spacing: 1.8px;
font-size: 12px;
line-height: 12px;
border-radius: 5px;
}
.p3{
    color: rgba(55, 55, 55, 1);
    text-align: right;
    font-family: 'Montserrat';
    font-weight: 700;
font-size: 16px;
line-height: 20px;
}
footer {
    padding: 20px 30px;
}